@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <h2>PREMIUM PRODUCTS</h2>
        <p>
            We intend to provide exceptional yet affordable items made from the best materials available. We definitely make sure that our gear and accessories are products that we would actually favor and use for ourselves.
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>SECURE CHECKOUT</h2>
        <p>We are a certified Amazon.com seller; therefore, all checkout, payment, and shipping processes will be handled with prime service and confidentiality.</p>
    </div>
    <div class="col-md-4">
        <h2>OUTSTANDING CUSTOMER SERVICE</h2>
        <p>For any inquiries or concerns, always expect a response within 24 hours! Ultimately, we aim to answer to our customers’ needs and to exceed expectations in whatever way possible.</p>
        
    </div>
</div>

<p style="text-align: center;">
    We do NOT store any of your details nor personal information since <span style="text-decoration: underline;">all</span> our checkout and payment processes are done, made, and fulfilled in <b>Amazon.</b><br />
    You will notice this when you go to our product pages wherein all <b>&#8216;BUY THIS NOW&#8217;</b> buttons will lead you to the product&#8217;s corresponding listing page.
</p>
<p style="text-align: center;">Overall: be secured to know that all your details and payment information will be handled with prime confidentiality through Amazon&#8217;s state-of-the-art security &amp; privacy.</p>
